</head>
<body>
  <nav>
    <a href="/" id="icon" class="fas fa-plane"></a>
    <a 
    href="/meals/new"
    class=<%= title === 'Add Meal' ? 'active' : '' %>
  >
    ADD MEAL
  </a>
    <a 
      href="/flights/new" class=<%= title === 'Add Flight' ? 'active' : '' %>
    >
      ADD FLIGHT
    </a>
    <a 
      href="/flights" class=<%= title === 'All Flights' ? 'active' : '' %>
    >
      ALL FLIGHTS
    </a>
  </nav>